{% extends 'base.html' %}
{% block main %}

  <main id="main" class="main">
    <div class="container">

      <section class="section register d-flex flex-column align-items-center justify-content-center">
        <div class="container">
          <div class="justify-content-center">
            <div class="row mx-auto d-flex flex-column align-items-center justify-content-center">

              <div class="card mb-3 col-md-8 mx-auto">

               <div class="card-body">

                    <div class="pt-4 pb-2">
                        <h5 class="card-title text-center pb-0 fs-4">Ajouter une course</h5>
                        <p class="text-center small">Saisissez les informations nécessaires</p>
                    </div>
                
                    <div class="row gy-4 pb-0 mb-0">
                
                        <form class="row g-3 needs-validation" enctype="multipart/form-data" novalidate method="post">
                            {% csrf_token %}
                            <div class="col-md-6 gy-2 gap-5">
                
                                <div class="col-12 mb-3">
                                    <label for="id_email" class="form-label">Nom de la course</label>
                                    {{ form.name }}
                                </div>
                
                                <div class="col-12 mb-3">
                                    <label for="id_name" class="form-label">Date et heure de la course</label>
                                    {{ form.date }}
                                    <div class="invalid-feedback">Date et heure de la course !</div>
                                </div>
                
                            </div>
                            <div class="col-md-6 gy-2 gap-5">
                
                                <div class="col-12 mb-3">
                                    <label for="id_experience" class="form-label">Lieu de la course</label>
                                    {{ form.location }}
                                    <div class="invalid-feedback">Veuillez entrer le lieu de la course!</div>
                                </div>
                                <div class="col-12 mb-3" id="id_div_password_none">
                                    <label for="id_photo" class="form-label">Chevaux participant à la course</label>
                                    {{ form.chevaux }}
                                    <small class="invalid-feedback">Chevaux participant à la course !</small>
                                </div>
                
                            </div>
                            {% if message != ''%}
                                <div class="alert alert-danger" role="alert">
                                    {{message}}
                                </div>
                            {% endif %}
                            <div class="col-6">
                                <button class="btn btn-primary w-100" type="submit">Ajouter</button>
                            </div>
                        </form>
                
                    </div>
                
                </div>



            </div>
          </div>
        </div>
        
        </div>

      </section>

    </div>
  </main>

{% endblock %}

  